@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

body {
    margin: 0px;
    background-color: #F3F3F3;
}

#main {
    max-width: 100rem;
    margin: 0 auto;
    background-color: white;
}

.lab-banner {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/lab-pic-2022");
    background-size: cover;
    background-position: center 95%;
    padding: 25px 50px;
    color: #fff;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 36px;
    text-transform: lowercase;
}

.navbar {
    display: flex;
    gap: 18px;
    margin: 0px;
    padding: 0px;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.navbar .header-link {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    text-align: center;
    float: left;
}

.dropdown {
    position: relative;
    float: left;
    padding-bottom: 5px;
}

.dropdown-content {
    background-color: #1E1926;
    position: absolute;
    left: 0;
    top: 100%;
    padding: .75rem;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, .5);
    display: none;
    z-index: 1;
}

.dropdown-content a {
    float: none;
    display: block;
    padding: .25rem 0;
}

.dropdown:hover .dropdown-content {
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

.header-link.inverted {
    color: white;
}

.dropdown:hover > a,
.header .header-link:hover {
    color: #9A89B4;
}

.header .current-page {
    color: #9A89B4
}

.banner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    text-align: center;
}

.banner-content .dept {
    font-size: 18px;
    padding: 16px;
}

.mission-statement {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 150px 200px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("./images/nyspi-bridge.jpg");
    background-size: cover;
    background-position: center;
    color: #fff;
}

.mission-text {
    max-width: 1500px;
}

.mission-text h2 {
    margin-bottom: 50px;
    font-weight: 700;
}

.mission-statement p {
    font-size: 24px;
    font-weight: 300;
}

.latest-news {
    margin: 75px 50px;
}

.latest-news p {
    color: #0000FF;
    font-weight: 600;
    text-align: end;
    margin-right: 25px;
}

.latest-news p a:after {
    content: ">";
}

.latest-news p a:hover {
    color: #2C6676;
}

.latest-news-title {
    margin-left: 25px;
    margin-bottom: 25px;
    font-size: 36px;
}

.news-boxes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 50px;
    justify-items: center;
}

.news-box {
    width: 300px;
    margin: 0px 25px 50px 25px;
}

.news-date {
    font-size: 12px;
    color: #389CB7;
    margin-bottom: 10px;
}

.news-box a:hover .news-box-title {
    color: #9A89B4;
}

.news-box-title {
    font-size: 18px;
}

.news-img {
    float: left;
    object-fit: cover;
    width: 300px;
    height: 200px;
    margin-bottom: 10px;
}

.news-img.columbia {
    object-fit: contain;
    background-color: #FDF7FF;
}

h1,
h2,
h3 {
    margin: 0px;
}

h1 {
    font-size: 82px;
    text-transform: uppercase;
    margin: 70px;
}

h2 {
    font-size: 48px;
} 

h3 {
    font-size: 24px;
}

p {
    line-height: 1.8em;
}

.footer {
    background-color: #1E1926;
    color: white;
    padding: 50px;
}

.footer .logo {
    margin-bottom: 25px;
}

.footer-address {
    display: flex;
    align-items: center;
}

.footer-address hr {
    align-self: stretch;
    margin: 15px 25px 15px 0px;
    border-color: #9A89B4;
}

/* CSS for team.html page */

.lab-banner.team {
    background-position: center 75%;
}

.wrapper {
    max-width: 1600px;
    margin: 0 auto;
}

.top {
    margin-top: 58px;
}

.lab-member {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: flex-start;
    padding: 50px;
    gap: 50px;
}

.lab-member.rebecca {
    flex-wrap: wrap;
}

.lab-member.even {
    flex-direction: row-reverse;
}

.even img {
    align-self: flex-end;
}

.member-summary {
    width: calc(50% - 5%);
    min-width: 400px;
    align-self: center;
}

.member-summary p {
    font-size: 18px;
}

ion-icon {
    font-size: 48px;
}

.linkedin {
    color: #0000FF;
}

.linkedin:hover {
    color: #2C6676;
}

.github {
    color: black;
}

.github:hover {
    color: #9A89B4;
}

.david-rivas,
.mahdia-begum,
.rebecca-muhle {
    width: calc(50% - 5%);
    height: auto;
}

hr {
    border: 0.5px solid rgb(0, 0, 0);
    margin-left: 68px;
    margin-right: 68px;
}

.hr-top {
    margin-top: 58px;
}

.hr-bottom {
    margin-bottom: 58px;
}

.team-alumni {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/lab-pic-2021.JPG");
    background-size: cover;
    background-position: center 40%;
    color: #fff;
    padding: 100px;
    text-align: center;
}

.team-alumni-link:hover .team-alumni {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("./images/lab-pic-2021.JPG");
}

/* CSS for alumni.html */

.lab-banner.alumni {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/lab-pic-2021.JPG");
    background-position: center 30%;
}

.lab-alumni {
    margin: 50px 75px;
}

.alumni-list span {
    font-weight: bold;
}

.lab-alumni.bottom {
    margin-bottom: 58px;
}

/*CSS for research.html */

.lab-banner.research {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/nissl-banner.jpg");
    background-position: center;
    background-size: contain;
}

.research-overview {
    margin-top: 50px;
}

figure {
    margin: 32px 40px;
}

figcaption {
    font-size: 14px;
}

.hchd8-dnm-diagram {
    width: 100%;
    height: auto;
    border: 1px solid #737373;
}

.fig2-fig3 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.derubeis-nature-2014 {
    width: 450px;
    height: auto;
}

.asd-risk-network, .chd8-target-genes {
    width: 300px;
    height: auto;
}

.figure-2 {
    max-width: 450px;
}

.figure-3, .figure-4 {
    display: flex;
    align-items: center;
    max-width: 560px;
}

.hr-research {
    margin-left: 0px;
    margin-right: 0px;
}

/* CSS for news.html */

.lab-banner.news {
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("./images/ihc-brain.jpg");
    background-position: center 40%;
}

/* CSS for news posts */

.news-post {
    background-image: none;
    color: black;
}

.news-post-hr {
    margin-left: 0px;
    margin-right: 0px;
    border-color:rgb(0 0 0 / 13%);
}

.news-blog-post {
    margin: 100px;
}


.news-blog-post h3 {
    font-size: 18px;
    color: #208CA7;
}

.news-blog-post h2 {
    font-size: 54px;
    margin-bottom: 50px;
}

.blog-post-entry {
    width: 40em;
    margin: 0 auto;
}

.blog-post-entry p {
    margin-bottom: 50px;
}

.blog-post-thumbnail {
    width: 100%;
    height: auto;
    margin-bottom: 25px;
}

.swiper {
    width: 40em;
    height: 40em;
}

.swiper-slide img {
    width: 100%;
    height: auto;
}

.swiper .swiper-button-next,
.swiper .swiper-button-prev {
    color: white;
}

.swiper .swiper-pagination-bullet-active {
    background: white;
}

/* CSS for funding.html */

.funding-source.top {
    margin-top: 58px;
}

.funding-source.bottom {
    margin-bottom: 58px;
}

.funding-source {
    margin: 50px 150px;
}

.funding-link {
    text-decoration: underline;
    color: #0000FF;
}

.funding-link:hover {
    color: #2C6676;
}

.funding-logo {
    margin-top: 21.28px;
    max-width: 345px;
    max-height: 100px;
}

.hr-funding {
    margin-left: 125px;
    margin-right: 125px;
}

/* CSS for contact.html */

.lab-banner.contact {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("./images/sackler.jpeg");
    background-position: top center;
}

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0px;
    gap: 50px;
}

.contact-text {
    display: flex;
}

.contact-text hr {
    margin-left: 25px;
    margin-right: 25px;
}

.join {
    max-width: 300px;
}