@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

body {
    margin: 0px;
}

.lab-banner {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/lab-pic-2022");
    background-size: cover;
    background-position: center bottom;
    padding: 50px;
    color: #fff;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 36px;
    text-transform: lowercase;
}

ul {
    font-size: 14px;
    display: flex;
    list-style-type: none;
    gap: 16px;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: inherit;
}

.banner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    text-align: center;
}

.banner-content .dept {
    font-size: 18px;
    padding: 16px;
}

.mission-statement {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 150px 200px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/gwb-lab.jpg");
    background-size: cover;
    background-position: center;
    color: #fff;
}

.mission-text {
    max-width: 1500px;
}

.mission-statement p {
    font-size: 24px;
}

h1,
h2,
h3 {
    margin: 0px;
}

h1 {
    font-size: 82px;
    text-transform: uppercase;
    margin: 70px;
}

h2 {
    font-size: 48px;
} 

h3 {
    font-size: 24px;
}

p {
    line-height: 1.8em;
}

.footer {
    background-color: #313131;
    color: white;
    padding: 50px;
}

.footer .logo {
    margin-bottom: 25px;
}

.footer-address {
    display: flex;
    align-items: center;
}

.footer-address hr {
    align-self: stretch;
    margin: 15px 25px 15px 0px;
    border-color: #737373;
}

/* CSS for team.html page */

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

.lab-member {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.lab-member.even {
    flex-direction: row-reverse;
}

.member-summary {
    width: calc(50% - 5%);
}

.member-summary p {
    font-size: 18px;
}

ion-icon {
    font-size: 48px;
}

.linkedin {
    color: #0a66c2;
}

.github {
    color: #0d1117;
}

.david-rivas,
.mahdia-begum,
.rebecca-muhle {
    width: 300px;
    height: auto;
}

hr {
    border: 0.5px solid rgb(0, 0, 0);
    margin-left: 50px;
    margin-right: 50px;
}

/* CSS for contact.html */

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0px;
    gap: 50px;
}

.contact-text {
    display: flex;
}

.contact-text hr {
    margin-left: 25px;
    margin-right: 25px;
}

.join {
    max-width: 300px;
}